.axc-auto-complete{
    position: relative;
    width: 173px;
}
.axc-auto-complete__input {
    max-width: inherit;
    width: inherit;
}
.axc-auto-complete__suggestions{
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 0.5px solid black;
}
.axc-auto-complete__suggestion {
    border: 0.25px solid grey;
}
.axc-auto-complete__suggestion--selected {
    border: 0.5px solid black;
    font-weight: bold;
}