.axc-auto-complete{
    position: relative;
    width: 173px;
}
.axc-auto-complete__input {
    max-width: inherit;
    width: inherit;
}
.axc-auto-complete__suggestions{
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.axc-auto-complete__suggestion {
    padding: 0.25em 0.5rem;
}
.axc-auto-complete__suggestion--selected {
    @extend .axc-auto-complete__suggestion;
    background-color: #f2f2f2;
}

.axc-auto-complete__suggestion--selected:active {
    @extend .axc-auto-complete__suggestion;
    background-color: #d9d9d9;
}