.axc-carousel {
    position: relative;
    height: 10vh;
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.axc-carousel__previous{
    background-color: transparent;
    border:none;
    position: absolute;
    top: 50%;
    left: 3%;
    cursor: pointer;
}

.axc-carousel__previous:hover{
    background-color: rgba(255,255,255,0.5);
}

.axc-carousel__next{
    background-color: transparent;
    border:none;
    position: absolute;
    top: 50%;
    right: 3%;
    cursor: pointer;
}


.axc-carousel__next:hover{
    background-color: rgba(255,255,255,0.5);
}

.axc-carousel__element-container{
    text-align: center;
    width: 100%;
    height: 100%;
}



.axc-linked-carousel {
    position: relative;
    height: 10vh;
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.axc-linked-carousel__previous{
    background-color: transparent;
    border:none;
    position: absolute;
    top: 50%;
    left: 3%;
    cursor: pointer;
}

.axc-linked-carousel__previous:hover{
    background-color: rgba(255,255,255,0.5);
}

.axc-linked-carousel__next{
    background-color: transparent;
    border:none;
    position: absolute;
    top: 50%;
    right: 3%;
    cursor: pointer;
}


.axc-linked-carousel__next:hover{
    background-color: rgba(255,255,255,0.5);
}

.axc-linked-carousel__element-container{
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.axc-linked-carousel__links{
    position: absolute;
    top: 75%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}